<div class="profile-page">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <%= image_tag(@user.avatar, class:"avatar-image") if @user.avatar.attached? %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <h2 class="white-font"><%= @user.full_name %></h2>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="white-font"><%= @user.body %></p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 ">
          <% @links.each do |link| %>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <%= link_to link.url, target: "_blank", class:"linkable btn btn-secondary" do %>
                  <span class="linkable-span"><%= link.title %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
